<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <a href="/new">Write New Message</a>
  <div class="messages">
    <% messages.forEach(message => { %>
      <p class="text"><%= message.content%></p>
      <a href="/message/<%= message.id %>">Open Detail</a>
      <a href="/delete/<%= message.id %>">Delete</a>
    <% }) %>
  </div>
</body>
</html>