<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <div class="messages">
    <% messages.forEach(message => { %>
      <p class="text"><%= message.text %></p>
      <p class="user">By: <%= message.user %></p>
      <p class="added">On: <%= message.added %></p>
    <% }) %>
  </div>
</body>
</html>