<h1><%= title %></h1>
<div class="message-detail">
  <p class="text"><%= message.content%></p>
  <p class="user">By: <%= message.username %></p>
  <p class="added">On: <%= message.added %></p>
</div>
<a href="/">Back To Home</a>