<h1>New Messages</h1>
<a href="/">Back to Home</a>
<form method="POST" action="/new">
  <label for="content">Your Message</label>
  <textarea name="content" id="" placeholder="Hello World! "></textarea>
  <label for="username">By: </label>
  <input type="text" name="username" id="username" placeholder="Yamato Taro">
  <button type="submit">Post Message! </button>
</form>